/* Estilos para el reproductor de video y controles */
#reproductor {
    display: block; 
    width: 95%; 
    max-width: 720px; 
    margin: 20px auto; 
    position: relative;
    background: #333;
    border-radius: 8px;
}

#barra {
    width: 705px;
    margin: 5px auto;
    height: 16px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    position: relative;
}

#progreso {
    position: absolute;
    width: 0px;
    height: 16px;
    background: rgba(0, 0, 150, .2);
    border-radius: 4px;
}

video{
    width: 95%; 
    max-width: 720px; 
    height: auto; 
    margin: 5px; 
}


.video-controls {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 auto;
}


.video-controls input[type="button"] {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px;
    font-size: 16px;
    background-color: #88674c;
    transition: 0.5s ease-in-out background-color;
}

.video-controls input[type="button"]:hover {
    background-color: #f37106;
    transition: 0.5s ease-in-out background-color;
}

#barra {
    width: 95%;             
    max-width: 705px;      
    padding: 0;            
    margin: 0 auto;         
}

@media (max-width: 970px) {
    .video-controls input {
        display: block;     
        width: 100%;         
        margin-bottom: 10px; 
        margin: 0 auto;
    }

    .video-controls {
        margin: 20px;
        padding: 20px;
        text-align: center;
    }
}