/*ver el ejercicio en*/

body{
    background: linear-gradient(rgb(206, 43, 2), rgb(255, 255, 255));
    padding: 15px;
}

hr{
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 80%;
}

header > h1{
    position: relative;
    margin-left: 100px;
}
h1 > img{
    position: absolute;
    left: -85px;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

header{
    background: linear-gradient(rgb(0, 88, 160), rgb(46, 144, 224));
    border-radius: 25px 25px 0 0;
    color: white;
    padding: 1rem;
    border-bottom: 7px solid black;
    
}

nav{
    background-color: rgb(212, 212, 8);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    position: relative;
}

nav a:hover{
    text-shadow: 2px 2px 0px red; 
    color: white;
}

ul {
    list-style-type: none; /* Elimina las viñetas */
}

nav a {
    text-shadow: 0px 0px 5px white;
    color: white;
    transition: text-shadow 0.3s, color 0.3s;
}

/*Focus de video*/
.contenedor__menu__item:hover .contenedor__menu__item__enlace,
.contenedor__menu__item .submenu {
    text-shadow: 2px 2px 0px red; 
    color: white; 
}

.submenu {
    display: none; 
    position: absolute; /* Para que se despliegue correctamente */
    background-color: #e34c26; 
    border-radius: 5px;
    z-index: 1000; /* Submenu encima de otros elementos */
    top: 87%;
    left: -20%; 
    width: 100px; 
    padding: 0; 
}

.contenedor__menu__item:hover .submenu {
    display: block; /* Muestra el submenú al pasar el ratón */
}

.submenu li {
    padding: 10px; 
    margin: 0; 
    list-style-type: none; 
    text-align: center;
}

.submenu li:nth-child(odd) {
    background-color: #f06529; 
}

.submenu li:hover {
    background-color: #ff7e42; 
}

.submenu li a {
    color: white; 
    text-decoration: none;
}

/* Triángulo para el submenú */
.submenu::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e34c26;
    left: 50%;
    top: -5px; 
    transform: translateX(-50%);
}

.contenedor__menu__item{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    position: relative;
}

.contenedor__menu__item__enlace{
    text-align: center;
    text-decoration: none;
    color: yellow;    
}


main{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 7px solid black;
    width: auto;

}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 60px solid;
    margin: 20px 20px 50px 20px;
    border-image: url(../imgs/movil.png) 80 40 70 40;
    text-align: center;
}


article > h4{
    position: relative;
}

.cincheta{
    position: absolute;
    top: -286px;
    width: 35px;
    height: 49x;
}

main article:first-of-type .cincheta img {
    position: absolute;
    left: 120px;
}

main article:last-of-type .cincheta img {
    position: absolute;
    right: 30px;
}

main article:first-of-type  {
    transform: rotate(-2deg);
}

main article:last-of-type  {
    transform: rotate(2deg);
}




footer{
    background: linear-gradient(360deg, rgb(0, 88, 160), rgb(30, 128, 207));
    border-radius: 0px 0px 25px 25px ;
    color: white;
    text-align: center;
}