body{
    background: linear-gradient(rgb(206, 43, 2), rgb(255, 255, 255));
    padding: 15px;
}

hr{
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 80%;
}

/*animacion del logo*/

.header__logo{
    animation: 5s rotacion infinite;
}

@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }
    50%{        
        transform: rotate(180deg);
    }
  
    to {
        transform: rotate(360deg);
    }
}


header > h1{
    position: relative;
    margin-left: 100px;
}
h1 > img{
    position: absolute;
    left: -85px;
}

.page{
    display: flex;
    flex-direction: column;
}

header{
    background: linear-gradient(rgb(0, 88, 160), rgb(46, 144, 224));
    border-radius: 25px 25px 0 0;
    color: white;
    padding: 1rem;
    font-family: 'Luckiest Guy';
    border-bottom: 7px solid black;
    
}

nav{
    background-color: rgb(212, 212, 8);
    font-family: 'Luckiest Guy';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

nav a {
    text-shadow: 2px 2px 0px #f06529;
    transition: text-shadow 0.3s, color 0.3s;
}

nav a:hover{
    text-shadow: 0px 0px 5px #ff7e42; 
    transition: text-shadow 0.3s, color 0.3s;
}

.page__menu__item{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
}

.page__menu__item__enlace{
    text-align: center;
    text-decoration: none;
    color: white;    
}

ul {
    list-style-type: none;
}

/*Focus de video*/
.page__menu__item:hover .page__menu__item__enlace,
.page__menu__item .submenu {
    text-shadow: 2px 2px 0px red; 
    color: white; 
}

.submenu {
    display: none; 
    position: absolute; /* Para que se despliegue correctamente */
    background-color: #e34c26; 
    border-radius: 5px;
    z-index: 1000; /* Submenu encima de otros elementos */
    top: 87%;
    left: -20%; 
    width: 100px; 
    padding: 0; 
}

.page__menu__item:hover .submenu {
    display: block; /* Muestra el submenú al pasar el ratón */
}

.submenu li {
    padding: 10px; 
    margin: 0; 
    list-style-type: none; 
    text-align: center;
}

.submenu li:nth-child(odd) {
    background-color: #f06529; 
}

.submenu li:hover {
    background-color: #ff7e42; 
}

.submenu li a {
    color: white; 
    text-decoration: none;
}

/* Triángulo para el submenú */
.submenu::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e34c26;
    left: 50%;
    top: -5px; 
    transform: translateX(-50%);
}

main{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 7px solid black;
    width: auto;

}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 60px solid;
    margin: 20px 20px 50px 20px;
    border-image: url(../imgs/movil.png) 80 40 70 40;
    text-align: center;
    font-family: 'Abel';
}


article > h4{
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/*posicion de las chinchetas*/

.chincheta{
    position: absolute;
    top: -286px;
    width: 35px;
    height: 49x;
}

main article:first-of-type .chincheta img {
    position: absolute;
    left: 120px;
}

main article:last-of-type .chincheta img {
    position: absolute;
    right: 30px;
}

main article:first-of-type  {
    transform: rotate(-2deg);
}

main article:last-of-type  {
    transform: rotate(2deg);
}

/*animaciones chinchetas*/
#chincheta1 {
    position: absolute;
    animation: none;
}

@keyframes mueveChincheta1 {
    from {
        left: -120px;
    }  
    to {
        left: 30px;
    }
}

#chincheta2 {
    position: absolute;
    animation: none;
}

@keyframes mueveChincheta2 {
    0% {
        left: -40px;
    }
    100% {
        left: 30px;
    }
}

#chincheta3 {
    position: absolute;
    animation: none;
}

@keyframes mueveChincheta3 {
    from {
        right: -30px;
    }  
    to {
        right: 100px;
    }
}

/*animaciones article*/

#article1 {
    transform: rotate(0deg);
    animation: none;
}

@keyframes animArticle1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-2deg);
    }
}

#article2 {
    transform: rotate(0deg);
    animation: none;
}

@keyframes animArticle2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(2deg);
    }
}


footer{
    background: linear-gradient(360deg, rgb(0, 88, 160), rgb(30, 128, 207));
    border-radius: 0px 0px 25px 25px ;
    color: white;
    text-align: center;
}

@media (max-width: 1200px) {
    .moviles{
        display: flex;
        flex-direction: column;
    }

    article{
        max-width: 320px;
    }
    
}

@media (max-width: 1024px) {
    .page{
        width: 90%;
        min-width: 320px;
    }

    header{
        font-size: 0.7em;
    } 

    .submenu > li{
        margin: 0 8% 2% 8%;
    }
    
}

@media (max-width: 700px) {
    .submenu > li{
        margin: 0 4% 1% 4%;
    }
    
}

.menu-desplegable {
    display: none; 
    width: 80px;
    height: 80px;
    background: url('../imgs/menu.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: 10px; 
    margin: 0 auto; 
}

@media (max-width: 475px) {
    .menu-desplegable {
        display: block; /* Hacer visible el ícono de menú */
        margin-bottom: 20px;
    }

    nav:hover .page__menu__item {
        display: flex; /* Mostrar los elementos del menú */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page__menu__item {
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;
    }
}

  