/* Estilos para la página de Secretaría */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

section{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  line-height: 1.6;
}

.secretaria {
  width: 80%;
  margin: 0 auto;
}

.secretaria__introduccion {
  width: 90%;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #2086b1;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Agregar sombra sutil al mapa */

  border-radius: 10px;
}

.secretaria__titulo {
  font-size: 2rem;
}

.secretaria__descripcion {
  font-size: 1.2rem;
  line-height: 1.6;
}


.secretaria__lista {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.secretaria__lista li {
  background: #ecf0f1;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #2c3e50;
}

.secretaria__botones {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.secretaria__boton {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.secretaria__boton:hover {
  background-color: #2980b9;
}

.secretaria__contacto {
  margin-top: 40px;
}

.secretaria__contacto ul {
  list-style: none;
  padding: 0;
}

.secretaria__contacto li {
  margin-bottom: 10px;
  color: #7f8c8d;
}

.secretaria__fechas strong {
  color: #2c3e50;
}

/* Responsive design */
@media (max-width: 550px) {
  .secretaria {
    padding: 10px;
  }

  .secretaria__titulo {
    font-size: 1.8rem;
  }

  .secretaria__descripcion {
    font-size: 1rem;
  }

  .secretaria__botones {
    flex-direction: column;
    gap: 10px;
  }

  .secretaria__boton {
    text-align: center;
  }
}
