@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

body {
  color: rgb(116, 152, 183);
  font-weight: 300;
  font-family: "Ubuntu";
  /* background-color: rgb(240, 237, 192); */
  margin-bottom: 0;
}

.login{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(1, 51, 95),rgb(0, 72, 131)) ;
  color: white;
  padding: 10px;
}

.contenedor__logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contenedor__logo__imagen{
  width: 100px;
  height: auto;
}

.contenedor__logo__titulo{
  font-weight: 400;
}

.login__bloques{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login__bloques__button{
  background: radial-gradient(rgb(0, 139, 253),rgb(0, 66, 121));
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
  transition: 0.35s ease-in-out opacity;
}

.login__bloques__button:hover{
  opacity: 0.8;
  transition: 0.35s ease-in-out opacity;
}

.login__bloques__button__item{
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(239, 241, 227);
}

/* Botón para alternar el menú */
.login__bloques__menu__toggle {
  display: none; /* Sigue oculto en pantallas grandes */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px; /* Separación del botón */
}

.menu__enlaces {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.menu__enlaces__item {
  cursor: pointer;
  text-decoration: none;
  color: rgb(116, 152, 183);
  font-weight: 700;
  border-radius: 0 0 5px 5px;
  transition: 0.5s ease-in-out background-color, 0.5s ease-in-out color;
  padding: 15px;
}

.menu__enlaces__item:hover {
  transition: 0.5s ease-in-out background-color, 0.5s ease-in-out color;
  background-color: rgb(0, 72, 131);
  color: white;
  border-radius: 0 0 5px 5px;
}

.presentacion{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.imagen{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen__item{
  height: auto;
  width: 95%;
  margin: 30px 0;
}

.article{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.article:nth-child(2){
  background-color: transparent;
}

.presentacion__1 {
  font-family: 'Raleway';
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding: 100px;
  background-color: rgb(250, 250, 250);
  color: rgb(116, 152, 183);
  border-radius: 10px;

}

.presentacion__video {
  width: 100%;
  text-align: center;
}

.presentacion__video__mp4 {
  width: 100%;
  height: auto;
}

.presentacion__2 {
  width: 70%;
  background-color: rgb(255, 255, 255);
  padding: 100px;
  border-radius: 10px;
}

iframe {
  display: block;
}

.ubicacion{
  width: 100%;
  text-align: center;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(rgb(0, 72, 131),rgb(1, 27, 49)) ;
  color: rgb(239, 241, 227);
  padding: 20px 0px;
}
.footer__imagenes {
  display: block;
}
.footer__imagenes__item {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .menu {
    position: relative;
    margin-left: auto; /* Alinea el menú a la derecha */
  }

  .login__bloques__menu__toggle {
    display: block; /* Botón visible en pantallas pequeñas */
  }

  .menu__enlaces {
    display: none; /* Ocultar menú por defecto */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(1, 51, 95);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: max-content;
  }

  .menu__enlaces__item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    transition: 0.3s background-color, 0.3s color;
  }

  .menu__enlaces__item:nth-child(odd) {
    background-color: rgb(2, 61, 111);
    transition: 0.3s background-color, 0.3s color;
  }

  .menu__enlaces__item:hover {
    background-color: rgb(0, 72, 131);
    color: rgb(240, 237, 192);
  }

  /* Mostrar menú desplegable cuando activo */
  .menu.active .menu__enlaces {
    display: flex;
    gap: 3px;
  }

  .presentacion__1 {
    width: 80%;
    text-align: center;
  }

  .presentacion__video {
    width: 70%;
    height: auto;
  }
}
