
body {
    font-family: 'LeagueGothic', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(202, 198, 193);
    width: 720px;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    background-image: url(./imgs/bg-formtitle-right.png), url(./imgs/bg-formtitle-left.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 45px right 80px, top 45px left 80px;
}

.caja {
    margin-top: 20px;
    width: 70%;
}

input {
    border: none;
    background-color: transparent;
    border-bottom: 2px dotted black;
    width: 100%;
    text-align: center;
    background-image: url(./imgs/required.png);
    background-repeat: no-repeat;
    background-position: right center;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 2px dotted black;
}

input:invalid {
    background-image: url(./imgs/invalid.png);
}

.button {
    margin: 20px;
    width: 50%;
    height: 50px;
    color: aliceblue;
    background-color: rgb(126, 124, 122);
    border: none;
    cursor: pointer;
    font-family: 'LeagueGothic', sans-serif;
    font-weight: 700;
    background: radial-gradient(rgb(144, 144, 144), rgb(72, 72, 72));
    border-radius: 5px;
    opacity: 0.8; 
    transition: 0.5s ease-in-out opacity;
}

.button:hover {
    opacity: 1; 
    transition: 0.25s linear opacity;
}

/* Ocultar flechas en los inputs de tipo number */
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0;
}
