/*menu*/
*{
    margin:0;
    padding:0;
}

nav ul li a{
    text-decoration: none;
}

a:hover{
    color: red;

}

nav {
    position: relative;
}

ul {
    list-style-type: none; /* Elimina las viñetas */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
}

ul > li {
    display: inline-block; /* Hace que los elementos se muestren en línea */
    margin: 0 80px; /* Márgenes externos izquierdo y derecho */
    padding: 20px 0; /* Márgenes internos superior e inferior */
    position: relative; /* Posición relativa para los elementos */
}

ul ul {
    display: none; /* Oculta los submenús por defecto */
    position: absolute; /* Para que se desplieguen correctamente */
}

ul li:hover > ul {
    display: block; /* Muestra el submenú al pasar el mouse */
}